<div style="padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;opacity: 1;">
    <h3><b>Congratulations</b></h3>
    You have successfully registered and given consent to below given students for attending Christine
    retreat!!!<br><strong>Your family ID is ${registeredParentNode.id}</strong> and Child IDs are
    given below.
</div>
<div style="padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;opacity: 1;">
    <p>Mass Centre Name: ${registeredParentNode.massCentreName}</p>

    <p>Parent/Guardian Name: ${registeredParentNode.firstName} ${registeredParentNode.lastName}</p>

    <p>Phone - 1: ${registeredParentNode.phoneNumber}</p>

    <p>Phone - 2: ${registeredParentNode.alternativePhoneNumber}</p>

    <p>Email: ${registeredParentNode.email}</p>

    <p>Address: #if($registeredParentNode.houseNo)
        ${registeredParentNode.houseNo}&nbsp;
    #end
        #if($registeredParentNode.addressLineOne)
            ${registeredParentNode.addressLineOne}&nbsp;
        #end
        #if($registeredParentNode.addressLineTwo)
            ${registeredParentNode.addressLineTwo}&nbsp;
        #end
        #if($registeredParentNode.addressLineThree)
            ${registeredParentNode.addressLineThree}&nbsp;
        #end$</p>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>Child ID&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Name&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Class&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Section&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Dates</th>
        </tr>
        </thead>
        <tbody>
            #foreach( $studentNodeEntry in $registeredParentNode.studentNodeList )
            <tr>
                <td>${studentNodeEntry.bandCode}</td>
                <td>${studentNodeEntry.firstName} ${studentNodeEntry.lastName} </td>
                <td>${studentNodeEntry.classDivision}</td>
                <td>${studentNodeEntry.retreatSection}</td>
                <td>
                    #if($studentNodeEntry.dayOne)
                        ${studentNodeEntry.dayOne}&nbsp;&nbsp;
                    #end
                    #if($studentNodeEntry.dayTwo)
                        ${studentNodeEntry.dayTwo}&nbsp;&nbsp;
                    #end
                    #if($studentNodeEntry.dayThree)
                        ${studentNodeEntry.dayThree}&nbsp;&nbsp;
                    #end
                    #if($studentNodeEntry.dayFour)
                        ${studentNodeEntry.dayFour}
                    #end
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>

<div>
    <p>
        Dear <b>${registeredParentNode.firstName} ${registeredParentNode.lastName},</b>
    </p>

    <p>
        The consent form is necessary to allow Syro-Malabar catholic Community/Church to provide
        the best ‘duty of care’ to the children in its care during the events as mentioned below. It
        gives permission for your son/daughter to take part and also necessary to ensure
        Children’s leaders are aware of any medical, learning issues associated with your son/daughter so that
        we can give them a positive and engaging experience.
    </p>

    <p>
        <i> <b>Event/Activity:</b> Christeen Retreat from October 29 to 1st November 2016 from 9.30 AM to
            5.30 PM</i>
    </p>

    <p>
        <i><b>Venue:</b> Phibblestown Community Centre, Clonee, Blanchardstown, Dublin -15.</i>
    </p>

    <p>
        1. I have read all the information provided concerning the programme of the above
        activity.<br>
        2. I hereby give permission for my son/daughter/ward to participate in the above
        activity.<br>
        3. I accept that my child may be included in photos/videos from the above activity that
        might be published by the parish.<br>
        4. Syro-Malabar Catholic Community/Church only accept liability or responsibility for an
        incident or accident caused by the negligence or breach of statutory duty of the
        organisation its servants or agents.<br>
    </p>

    <p style="margin-top:30px;padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;opacity: 1;">
        <strong>Note!</strong> Please remember and bring ‘Child ID’ when you come for the retreat!.
    </p>

</div>